html {
    font-family: monospace;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

body > section {
    width: 500px;
    margin: 8rem auto;
}
section > section:first-child {
    margin-bottom: 2rem;
}
section > h1,
section > h2 {
    margin: 0;
}
section > h2 {
    color: gray;
}
section > section:nth-child(2) p {
    margin-bottom: 1.25rem;
    width: 65ch;
    line-height: 1.8;
}
section > section:nth-child(2) p span:nth-child(1) {
    font-size: 2.25rem;
    font-weight: 100;
    font-style: italic;
}
section > section:nth-child(2) p span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 800;
}
